<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="6.4.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FluentNest" version="6.0.271" targetFramework="net472" />
  <package id="NEST" version="6.4.0" targetFramework="net472" />
</packages>